@font-face {
    font-family: "montserrat";
    src: url("./fonts/Montserrat-VariableFont_wght.ttf");
  }
@font-face {
font-family: "lora";
src: url("./fonts/Lora.ttf");
}
.websiteName{
    font-family: "lora" !important;
    font-size: 26px !important;
}
.headerButton{
    margin-left: 10px !important;
    text-transform: none !important;
    font-family: "montserrat" !important;
    font-size: 16px !important;
}
