/* HomePage.css */

.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .cards-container {
    display: flex;
    align-items: center;
    margin: 0 20px; /* Add some margin to separate the arrows from cards */
  }
  
  .card {
    width: fit-content;
    padding: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 100px;
  }

  .card.active {
    border: 2px solid #007bff;
  }
  
  .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    height: 40px;
    width: 40px;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    margin: 0 8px;
    color: #666;
    transition: background-color 0.2s ease;
  }
  
  .arrow:hover {
    background-color: #f1f1f1;
  }
  
  .left-arrow {
    order: 1; /* Reorder the left arrow to appear first */
  }
  
  .right-arrow {
    order: 3; /* Reorder the right arrow to appear last */
  }
 
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  h3 {
    font-size: 18px;
  }
  
  p {
    font-size: 14px;
    color: #555;
  }

  #homepageImage{
    background-image:url("../images/homepage.png") ;
    height: 700px;
    min-width: 1000px;
    /* Position and center the image to scale nicely on all screens */
    background-position: center 55%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}