@font-face {
    font-family: "montserrat";
    src: url("./fonts/Montserrat-VariableFont_wght.ttf");
  }
  @font-face {
    font-family: "lora";
    src: url("./fonts/Lora.ttf");
  }

#heroImage{
    background-image:url("../images/hero.jpg") ;
    height: 700px;
    min-width: 1000px;
    /* Position and center the image to scale nicely on all screens */
    background-position: center 55%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.welcomeText{
  width:400px;
  padding-top:100px ;
  padding-left:50px;
  font-family: "lora" ;
}
.welcomeHeader{
  font-family: "montserrat";
  margin: 0;
  font-size: 32px;
  font-weight: 650;
}
.welcomeMessage{
  font-size: 19px;
  font-family: "lora";
  color:#0A1128

}
.searchPrompt{
  color:#0A1128;
  font-size: 16px;
}
.landingSearchBar{
  /* background-color: "#0A1128" !important; */
  /* color: black !important; */
}
.categoriesDiv{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 0px 30px;
}
.categoryLink{
  text-align: center;
  width: 17%;
}
.categoryIcon{
  font-size: 70px !important;
}
.categoriesSection{
  margin-left:80px ;
}
.landingBody{
  color:#0A1128 ;
  max-width: 1600px;
  margin: auto;
}
.landingBodyContainer{

}