@font-face {
    font-family: "montserrat";
    src: url("./fonts/Montserrat-VariableFont_wght.ttf");
  }
@font-face {
font-family: "lora";
src: url("./fonts/Lora.ttf");
}
.loginPage{
    font-family: "lora";
    height: 100%;
}
.loginHeroImage{
    display: block;
    object-fit: cover;
    /* background-image: url("../images/login.jpg"); */
    /* width:50%; */
    height: 1000px;
    /* Position and center the image to scale nicely on all screens */
    /* background-position: center 75%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; */
    
}
.loginInstruction{
    font-size: 18px !important;
    color: gray;
}
.formDiv{
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.innerFormDiv{
    margin-left:  100px;
    margin-right: 50px;
    margin-top: 80px;
    width: 400px;
}
.loginPage{
    display: flex;
}
.welcomeMessage{
    font-family: "montserrat";
    font-size: 34px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.siteName{
    color: rgb(99, 99, 99);
    margin: 0;
    font-weight:800;
}
.loginInstruction{
    font-size: 14px;
    font-weight: lighter;
    margin-top: 10px;
    margin-bottom: 50px;
}
.formLabel{
    display: block;
    color: rgb(99, 99, 99);
    font-size: 17px;
}
.formInput{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border-width: 1px ;
    font-size: 22px;
    padding-left: 5px;
    border-style: solid;
}
.inputGroup{
    margin-top: 16px;
}
.loginButton{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    height: 44px;
    background-color:#0A1128 ;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    border-width: 1px ;
}
/* *{
    border: solid black;
} */
.smPrompt{
    text-align: center; 
    border-bottom: 1px solid rgb(185, 185, 185); 
    line-height: 0.1em;
    margin-bottom: 40px; 
}
.smText{
    background:#fff; 
    padding:0 10px;
    color: rgb(151, 151, 151); 
}
.socialMediaLogin{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
}
.socialMediaButton{
    font-size: 60px !important;
}
.newUserSignup{

    width: 100%;
    height: 44px;
    background-color:white ;
    color: rgb(151, 151, 151);
    font-size: 20px;
    border-radius: 20px;
    border-width: 1px ;
    border-color: rgb(196, 196, 196);
    border-style:solid;
}
