@font-face {
    font-family: "montserrat";
    src: url("./fonts/Montserrat-VariableFont_wght.ttf");
  }
@font-face {
font-family: "lora";
src: url("./fonts/Lora.ttf");
}
.loginPage{
    font-family: "lora";
    height: 100%;
    display: flex;
    max-width: 1600px;
    margin: auto;
}

.loginHeroImage{
    display: block;
    height: auto;
    max-height: 1000px;
    max-width: 50%;
    object-fit: cover;

    
}
.loginInstruction{
    font-size: 18px !important;
    color: rgb(99, 99, 99);
}
.formDivLogin{
    justify-content: center;
    width: 50%;
    /* margin: 40px auto; */
    margin:  0 auto;
    display: flex;
    justify-content: center;
}
.innerFormDivLogin{
    margin-left:  100px;
    margin-right: 50px;
    margin-top: 80px;
    width: 400px;
}

.welcomeMessageLogin{
    font-family: "montserrat";
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    color:#0A1128;
}
.siteNameLogin{
    color: rgb(99, 99, 99);
    margin: 0;
    font-weight:800;
}
.loginInstruction{
    font-size: 14px;
    font-weight: lighter;
    margin-top: 10px;
    margin-bottom: 50px;
}
.formLabelLogin{
    display: block;
    color: rgb(99, 99, 99);
    font-size: 17px;
}
.formInput{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border-width: 1px ;
    font-size: 22px;
    padding-left: 5px;
    border-style: solid;
}
.inputGroupLogin{
    margin-top: 16px;
}
.loginButton{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    height: 44px;
    background-color:#0A1128 ;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    border-width: 1px ;
}
/* *{
    border: solid black;
} */
.smPrompt{
    text-align: center; 
    border-bottom: 1px solid rgb(185, 185, 185); 
    line-height: 0.1em;
    margin-bottom: 40px; 
}
.smText{
    background:#fff; 
    padding:0 10px;
    color: rgb(151, 151, 151); 
}
.socialMediaLogin{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
}
.socialMediaButton{
    font-size: 60px !important;
}
.newUserSignup{
    width: 100%;
    height: 44px;
    background-color:white ;
    color: rgb(151, 151, 151);
    font-size: 20px;
    border-radius: 20px;
    border-width: 1px ;
    border-color: rgb(196, 196, 196);
    border-style:solid;
}
.linkUnstyled, .linkUnstyled:link, .linkUnstyled:hover {
    color: inherit;
    text-decoration: inherit;
}