@font-face {
    font-family: "montserrat";
    src: url("./fonts/Montserrat-VariableFont_wght.ttf");
  }
@font-face {
font-family: "lora";
src: url("./fonts/Lora.ttf");
}
.signUpPage{
    font-family: "lora";
    height: 100%;
}
.signUpHeroImageDiv{
    width:50% ;
    max-height: 100vh;
    overflow: hidden; 
}
.signUpHeroImage{
    display: block;
    object-fit: cover;
    /* height: auto; */
    width:100% ;
    min-height: 900px;
    height: auto;
}

.formDiv{
    width: 50%;
    /* margin: 40px auto; */
    display: flex;

}
.innerFormDiv{
    margin-left:  100px;
    margin-right: 50px;
    margin-top: 80px;
    width: 400px;
}
.signUpPage{
    display: flex;
}
.welcomeMessage{
    font-family: "montserrat";
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.siteName{
    color: rgb(99, 99, 99);
    margin: 0;
    font-weight:800;
}
.signUpInstruction{
    font-size: 18px !important;
    color: rgb(99, 99, 99);
    font-weight: normal;
}

.formLabel{
    display: block;
    color: rgb(99, 99, 99);
    font-size: 17px;
}
.formInput{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border-width: 1px ;
    font-size: 22px;
    padding-left: 5px;
    border-style: solid;
}
.inputGroup{
    margin-top: 16px;
}
.signUpButton{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    height: 44px;
    background-color:#0A1128 ;
    color: white;
    font-size: 20px;
    border-radius: 20px;
    border-width: 1px ;
}
/* *{
    border: solid black;
} */
.smPrompt{
    text-align: center; 
    border-bottom: 1px solid rgb(185, 185, 185); 
    line-height: 0.1em;
    margin-bottom: 40px; 
}
.smText{
    background:#fff; 
    padding:0 10px;
    color: rgb(151, 151, 151); 
}
.socialMediasignUp{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
}
.socialMediaButton{
    font-size: 60px !important;
}
.newUserSignup{
    width: 100%;
    height: 44px;
    background-color:white ;
    color: rgb(151, 151, 151);
    font-size: 20px;
    border-radius: 20px;
    border-width: 1px ;
    border-color: rgb(196, 196, 196);
    border-style:solid;
}
.red{
    color: red;
}
.signInButton{
    width: 100%;
    height: 44px;
    background-color:white ;
    color: lightgray;
    font-size: 20px;
    border: solid lightgray;
    border-radius: 20px;
    border-width: 1px ;
}
.client{
    height: 160px;
    width: 160px;
    color:#0A1128;
    text-align: center;
    border-radius: 25px;
    border-width: 1px ;
    border: solid #0A1128;
}
.clientIcon{
    margin-top: 20px !important;
    padding: none !important;
    font-size: 90px !important;
}
.jobSeeker{
    height: 160px;
    width: 160px;
    background-color: #0A1128;
    color: white;
    text-align: center;
    border-radius: 25px;
    border-width: 1px ;
    border: solid #0A1128;
}
.jobSeekerIcon{
    margin-top: 20px !important;
    padding: none !important;
    font-size: 90px !important;
}
.iconText{
    font-family: "montserrat";
    font-weight: 600;
}
.iconDiv{
    display: flex;
    justify-content: space-around ;
    align-items: flex-start;
    gap: 20px;
}